# Dependency directories not to upload
node_modules/

# Other stuff not to upload
.babelrc
.eslintrc.json
.git-reset.md
.socket-chat-example
.filesystem-example
.vscode
.vscode
.vscode/launch.json
.vscode/settings.json