# Dependency directories not to upload
node_modules/

# Other stuff not to upload
.socket-chat-example/
.filesystem-example/
.vscode/

.babelrc
.eslintrc.json
.git-reset.md
.vscode/launch.json
.vscode/settings.json