<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register/">Register</a></li>
        <li><a href="/login/">Login</a></li>
        <li>
            <a
                href="http://localhost:8004/"
                target="_dbms"
                >DBMS (:8004)</a
            >
        </li>
    </ul>
</nav>
